<div class="w-full {{{color}}} text-center uppercase flex justify-between" role="group" >
    <p class="text-center w-full">{{{title}}}</p>
    <button type="button" class="hover:cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots-vertical"></i>
    </button>
                                            
    <ul class="dropdown-menu">
        <li class="dropdown-item"><button data-bs-toggle="modal" data-bs-target="#task">Nova tarefa</button></li>
        <li class="dropdown-item"><button>Limpar tarefas</button></li>
    </ul>
</div>  