<div class="fab">
    <button class="main">
        <span class="icon">
            <img src="/imgs/seta-cima.png">
        </span>
    </button>
    <ul class="">
        <li class=""><button data-bs-toggle="modal" data-bs-target="#projeto" class="bg-purple-600 text-white">+</button></li>
        <li class=""><button data-bs-toggle="modal" data-bs-target="#enter-project" class="bg-purple-600 text-white"><img class="w-4 m-auto" src="/imgs/link.png" alt=""></button></li>
    </ul>
</div>
<script src="/js/components/floatingButton.js"></script>