<header>
  <nav class=" mx-auto flex p-4 items-center justify-between">

    <div class="flex lg:flex-1">
      <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600">
    </div>

    <div>
      <ul class="hidden sm:flex sm:flex-1 sm:gap-x-12 items-center">
        <li><a class="text-base font-semibold hover:text-violet-700" href="/home">Home</a></li>
        {{#if access}}
        <li><a class="text-base font-semibold hover:text-violet-700" href="/home/tasks">Tarefas</a></li>
        <li><a class="text-base font-semibold hover:text-violet-700" href="/home/teams">Equipes</a></li>
        {{/if}}
      </ul>
    </div>

    <div class="hidden sm:flex lg:flex-1 lg:justify-end">
      <a href="/home/logout" class="text-base font-semibold hover:text-violet-700 ease-linear">Logout</a>
    </div>
  </nav>
</header>