<div class="border border-slate-800 min-w-60 mt-2 p-2 flex flex-col gap-2">
    <div class="text-center bg-red-300 uppercase p-1"><span>A fazer</span></div>
    <div id="To Do" ondragover="onDragOver(event)" ondrop="onDrop(event, '#fcc8cd')" class="flex-grow py-2">

    </div>
</div>

<div class="border border-slate-800 min-w-60 mt-2 p-2 flex flex-col gap-2">
    <div class="text-center bg-orange-300 uppercase p-1"><span>Em andamento</span></div>
    <div id="In Progress" ondragover="onDragOver(event)" ondrop="onDrop(event, '#FFFFBA')" class="flex-grow py-2">

    </div>
</div>

<div class="border border-slate-800 min-w-60 mt-2 p-2 flex flex-col gap-2">
    <div class="text-center bg-blue-300 uppercase p-1"><span>Pausado</span></div>
    <div id="Paused" ondragover="onDragOver(event)" ondrop="onDrop(event, '#BAE1FF')" class="flex-grow py-2">
        
    </div>
</div>

<div class=" border border-slate-800 min-w-60 mt-2 p-2 flex flex-col gap-2">
    <div class="text-center bg-green-300 uppercase p-1"><span>Concluido</span></div>
    <div id="Concluded" ondragover="onDragOver(event)" ondrop="onDrop(event, '#BAFFC9')" class="flex-grow py-2">

    </div>
</div>