<div class="flex flex-col w-3/4 m-auto">
        
        <div class="w-full flex items-center justify-end">
              <button class=" bg-violet-500 text-white text-sm rounded-md p-2 hover:bg-violet-600">Nova tarefa</button>
        </div>

        <table class="table table-sm">
            <thead>
                <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                </tr>
                <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                </tr>
                <tr>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                </tr>
            </tbody>
        </table>
</div>