<div class="flex justify-center w-3/4 m-auto">
    <div class="border-r sm:p-5 p-2 md:w-1/4 flex flex-col items-center justify-center gap-2">
        <button class=" bg-violet-500 text-white text-sm rounded-md p-2 hover:bg-violet-600 w-32">Novo projeto</button>
        <button class=" bg-violet-500 text-white text-sm rounded-md p-2 hover:bg-violet-600 w-32">Nova equipe</button>
        <button class=" bg-violet-500 text-white text-sm rounded-md p-2 hover:bg-violet-600 w-32">Novo usuario</button>
    </div>
    <div class="border-l p-5 md:w-3/4">
           <table class="table table-sm">
            <thead>
                <tr>
                <th scope="col">Projeto</th>
                <th scope="col">Equipe</th>
                <th scope="col" class=" text-center">...</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td class="text-center">@mdo</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td class="text-center">@mdo</td>
                </tr>
                <tr>
                    <td colspan="2">Larry the Bird</td>
                    <td class="text-center">@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>