<!-- Modal -->
<div class="modal fade" id="projeto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Novo Projeto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form action="/home/project/create-project" method="POST">

            <div class="mb-3">
                <label for="name" class="form-label">Titulo</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Descrição</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>

            <div class="mb-3">
              <label class="form-label" for="dt-start">Data final</label>
              <input type="date" class="form-control" name="dueDate" id="due_date">
            </div>

            <div class="mb-3">
              <label for="exampleColorInput" class="form-label">Tema</label>
              <input type="color" class="form-control form-control-color" id="color" name="color" value="#563d7c" title="Choose your color">
            </div>

            <button type="submit" class="btn bg-violet-500 hover:bg-violet-600 text-white">Cadastrar</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>